<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="img.ico">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signIn.js"></script>

</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" ><a href="/">Home</a></li>
                <li role="presentation"><a href="/ShowSignIn">Sign In</a></li>
                <li role="presentation"  class="active"><a href="#">Sign Up</a></li>
            </ul>
        </nav>
        <h3 class="text-primary"><strong>Ready2Go</strong>  <small>SIGN UP</small></h3>
    </div>

    <div class="jumbotron">
        <h1>Ready2Go</h1>
        <h2>Sign Up</h2>
        <form class="form-signin" action="/signUp" method="POST">
            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
        <p>{{ SignUp_error }}</p>
    </div>



    <footer class="footer">
        <p>Ready2Go</p>
    </footer>

</div>
</body>
</html>
